{% extends 'navbar.html' %}
{% block content %}
<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">{{message}}</h1>
        </div>
        {% if flag %}
          <div class="card-body  m-auto">
            <form action="{% url 'search' %}">
                <div class="input-group">
                    <input class="form-control" name="q" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                    <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
                </div>
            </form>
        </div>
        <div class="card mb-4">
            
            <div class="card-body">
                <div class="row">
                    <div class="text-center">
                        
                        {% for catgy in categories %}
                            <a href="{% url 'blog-cat' id=catgy.id %}">{{catgy.title}}</a>
                        {% endfor %}
                    </div>
                </div>
            
        </div>
        {% endif %}
    </div>
</header>
<!-- Page content-->
<div class="container " >
    <div class="">
        <!-- Blog entries-->
        <div class="">
            {% for object in queryset %}
            
            <div class=" m-1 p-0 bg-ligh ">
                <a class="" href={% if request.user.is_authenticated %} "{{ object.get_absolute_url }}" {% else %} 
                "{% url 'account_login' %}" {% endif %}
                style="text-decoration: none; color: inherit;">
                <div class=" text-capitalize text-center">
                    <h4 class="card-title">{{object.title}}</h4>
                </div>
            </div>
        </a>
            {% endfor %}
            </div>
            <!-- Pagination-->
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4" >
                    {% if queryset.has_previous %}
                    <li class="page-item"><a class="page-link" href="?{{ page_request_var }}={{ queryset.previous_page_number }}" tabindex="-1" >Newer</a></li>
                    {% endif %} 
                    <li class="page-item active" aria-current="page"><a class="page-link">{{ queryset.number }}</a></li>
                    {% if queryset.has_next %}
                    <li class="page-item"><a class="page-link" href="?{{ page_request_var }}={{ queryset.next_page_number }}">Older</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    window.onload = function() {
  select();
};
function select(){
    let s = document.getElementById("blognavbar")
    s.className += " active"
}
</script>

{% endblock content %}

    