{% extends 'navbar.html' %}
{% block content %}

<style>
    .btn-primary {
        background-color: #d2d6a8;
        border: #d2d6a8;
    }
    .btn-primary:hover{
        background-color: #d2d6a8;
        border: #d2d6a8;
        text-shadow: 0.5px 0.5px;
    }
</style>

<!-- Page header with logo and tagline-->
<header class="py-5  border-bottom mb-4" style="background-color: #87a08b;">
    
    <div class="row">
        <div class="col-md-2 mx-2 text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th>Quick Stats</th>
                    </tr>
                </thead>
                <tr>
                    <th >EUR = {{currency.0}} USD </th>
                </tr>
                <tr>
                    <th >GBR = {{currency.1}} USD </th>
                </tr>
                <tr>
                    <th >BTC = {{currency.2}} USD</th>
                </tr>
                <tr>
                    <th >ETH = {{currency.3}} USD</th>
                </tr>
                <tr>
                    <th >{{currency.4}} </th>
                </tr>
                <tr>
                    <th >Total Posts {{queryset.0.total_post}}</th>
                </tr>
                <tr>
                    <th >Total users {{queryset.0.total_user}}</th>
                </tr>
                <tr>
                    <th >Online users {{request.online_now.count}}</th>
                </tr>
            </table>
    </div>
    <div class="container col-md-8">
        <div class="text-center my-5">
            <h1 class="fw-bolder">{{message}}</h1>
        </div>
        {% if flag %}
        <div class="container">
            
        </div>
          <div class="card-body  m-auto">
            <form action="{% url 'search' %}">
                <div class="input-group">
                    <input class="form-control" name="q" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                    <button class="btn btn-primary p-2 " id="button-search" type="submit"><h3>Go!</h3></button>
                </div>
            </form>
        </div>
        <div class="card mb-4">
            
            <div class="card-body">
                <div class="row">
                    <div class="text-center">
                        
                        {% for catgy in categories %}
                            <a href="{% url 'blog-cat' id=catgy.id %}" class="text-secondary">{{catgy.title}}</a>
                        {% endfor %}
                    </div>
                </div>
            
        </div>
        {% endif %}
    </div>
    </div>
</header>
<!-- Page content-->

<div class="container" >
    <div class="" >
        <div class="text-center my-5">
            <h1 class="fw-bolder">Featured Post</h1>
        </div>
        <!-- Blog entries-->
        <div class="">

            {% if not queryset|length %}
            <div class="text-center my-5">
                <h1 class="fw-bolder">No Post yet</h1>
            </div>
            
            {% endif %}
            {% for object in queryset %}
            
            <div class=" m-1 p-0 bg-ligh ">
                <a class="" href="{{ object.get_absolute_url }}" 
                style="color: inherit;">
                <div class=" text-capitalize text-center">
                    <h5 class="card-title">{{object.title}}</h5>
                </div>
            </div>
        </a>
            {% endfor %}
            </div>
            <!-- Pagination-->
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4" >
                    {% if queryset.has_previous %}
                    <li class="page-item"><a class="page-link"  href="?{{ page_request_var }}={{ queryset.previous_page_number }}" tabindex="-1" >Newer</a></li>
                    {% endif %} 
                    <li class="page-item active" aria-current="page"><a class="page-link" style="border: #d2d6a8; background-color: #d2d6a8;">{{ queryset.number }}</a></li>
                    {% if queryset.has_next %}
                    <li class="page-item"><a class="page-link text-muted" href="?{{ page_request_var }}={{ queryset.next_page_number }}">Older</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    window.onload = function() {
  select();
  dpload();
};
function select(){
    let s = document.getElementById("blognavbar")
    s.className += " active"
}

function dpload(){
    let s = document.getElementById("dpnavbar")
    s.setAttribute("src", "{{dpurl.url}}");
}
</script>

{% endblock content %}

    