{% extends 'navbar.html' %}
{% block content %}
{% load static %}
    <style>
    html,
    body {
        position: relative;
        height: 100%;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    </style>
    <!-- Page header with logo and tagline-->
    <header class="py-5 border-bottom " style="background-color: #87a08b;">
        <div class="container" style="width: 50vw;">
            <div class=" my-5">
                <div class="card mb-4">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            {% for img in queryset %}
                                <div class="swiper-slide">
                                    <img src="{{ img.thumbnail.url }}" style="height: 50vh;">
                                    <!-- {{img.thumbnail.url}} -->
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    <div class="card-body">
                        <div class="small text-muted">{{ post.timestamp|timesince }} ago</div>
                        <div class="small text-muted">by {{ post.author }}</div>
                        <h4 class="card-title">{{ post.title }}</h4>
                        {{ post.content|safe }}
                    </div>
                </div>
                <div>
                    {% if request.user == post.author.user %}
                        <a class="btn btn-primary" href="{% url 'post-update' id=post.id %}" style="background-color: #d2d6a8;
                        border: #d2d6a8;">Update</a>
                        <a class="btn btn-primary" href="{% url 'post-delete' id=post.id %}" style="background-color: #d2d6a8;
                        border: #d2d6a8;">Delete</a>
                    {% endif %}
                </div>
                <div>
                    <!-- Featured blog post-->
                    <div class="mt-4">
                        <div class="mx-2 ">
                            <p style="font-size: large;">
                                {{ post.comments.count }} comment{% if post.comments.count > 1 %}s{% endif %}
                            </p>
                        </div>
                    </div>
                    <hr>
                    {% for comment in post.get_comments %}
                        <div class="card my-0 border-0">
                            <div class="card-body ">
                                <div class="small text-muted">{{ comment.timestamp|timesince }} ago</div>
                                <p class="card-text" style="margin-bottom: -0.25%;">
                                    {% if comment.get_dp %}
                                    <img src="{{comment.get_dp.url}}" alt=""  class="rounded-circle" style="width: 30px; height: 30px;">
                                    {% endif %}
                                    {% if not comment.get_dp %}
                                    <img src="/media/profile.png" alt="" class="rounded-circle" style="width: 30px; height: 30px;">
                                    {% endif %}

                                    
                                    {% if comment.user.id in request.online_now_ids %}
                                    <svg height="10" width="10">
                                        <circle cx="5" cy="5" r="3" stroke="green" stroke-width="3" fill="green" />
                                         
                                      </svg> 
                                    {% else %}
                                    <svg height="10" width="10">
                                        <circle cx="5" cy="5" r="3" stroke="yellow" stroke-width="3" fill="yellow" />
                                         
                                      </svg> 
                                    {% endif %}
                                    <strong>{{ comment.user.username }} {% if comment.get_gender == 'MALE' %}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gender-male" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2H9.5zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8z"/>
                                      </svg>
                                    {% else %}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gender-female" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5z"/>
                                      </svg>
                                    {% endif %}</strong>:
                                </p>
                                
                                <p class="card-text pb-0">
                                    {{ comment.content }}
                                </p>
                                <a class="text-secondary"
                                   data-toggle="collapse"
                                   href="#comment_{{ comment.id }}"
                                   role="button"
                                   aria-expanded="false"
                                   aria-controls="collapseExample" >
                                    <svg width="24"
                                         height="24"
                                         viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="m3 12 9.778-8v5.333c1.926.45 3.5 1.172 4.722 2.167 1.222.995 2.389 2.495 3.5 4.5-1.333-.659-2.833-1.157-4.5-1.496-1.667-.34-2.907-.285-3.722.163V20L3 12Z"
                                              class="icon_svg-stroke"
                                              stroke="#666"
                                              fill="none"
                                              stroke-width="1.5"
                                              stroke-linejoin="round">
                                        </path>
                                    </svg>
                                    Reply
                                </a>
                            </div>
                            <div class="collapse card card-body ml-5 border-0"
                                 id="comment_{{ comment.id }}" >
                                <form action="{% url 'comment-reply' id=comment.id  post_id=comment.post.id %}"
                                      method="POST">
                                    {% csrf_token %}
                                    <div class="col-md-12 my-2 ml-10">
                                        <input type="text" class="form-control" name="reply_{{ comment.id }}">
                                    </div>
                                    <div class="col-md-12 my-2 ml-10">
                                        <button class="btn btn-primary" id="button-search" type="submit" style="background-color: #d2d6a8;
                                        border: #d2d6a8;">Reply</button>
                                    </div>
                                </form>
                            </div>
                            {% for reply in comment.get_reply %}
                                <div class="card card-body ml-5 border-0">
                                    <div class="small text-muted">{{ reply.timestamp|timesince }} ago</div>
                                    <p class="card-text" style="margin-bottom: -0.25%;">
                                        {% if reply.get_dp %}
                                    <img src="{{reply.get_dp.url}}" alt="" class="rounded-circle" style="width: 30px; height: 30px;">
                                    {% endif %}
                                    {% if not reply.get_dp %}
                                    <img src="/media/profile.png" alt="" class="rounded-circle" style="width: 30px;">
                                    {% endif %}
                                        <strong>{% if reply.get_gender == 'MALE' %}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gender-male" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2H9.5zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8z"/>
                                          </svg>
                                        {% else %}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gender-female" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5z"/>
                                          </svg>
                                        {% endif %}{{ reply.user.username }}</strong>:
                                    </p>
                                    {{ reply.content }}
                                </div>
                            {% endfor %}
                            <hr>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="" >
                    <form action="." method="POST">
                        {% csrf_token %}
                        <div class=" my-2 ml-10">{{ form }}</div>
                        <div class="my-2 ml-10">
                            <button class="btn btn-primary " id="button-search" type="submit" style="background-color: #d2d6a8;
                            border: #d2d6a8;">Submit</button>
                        </div>
                    </form>
            </div>
        </header>
        <!-- Page content-->
      
            
  
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <!-- Initialize Swiper -->
        <script>
          var swiper = new Swiper(".mySwiper", {
            navigation: {
              nextEl: ".swiper-button-next",
              prevEl: ".swiper-button-prev",
            },
          });
        </script>
        <script>
            window.onload = function() {
          select();
        
        };
        function select(){
            let s = document.getElementById("postnavbar")
            s.className += " active"
        }
        
        </script>
    {% endblock content %}
